
.topmenu2 {
	background: #202334;

}
.myabout .title h3{
	color: #000;
	font-size: 30px;
}
.upper {
	color: #000;
}
.ourteam {
	margin-top: 20px;
}
.team-image img {
	height: 400px;
	width: auto;
}
.t1 {
	margin-top: 200px;
}