
.pricing {
	background: #313550;
}
.center {
	margin-top: 50px;
}
svg.svg-inline--fa.fa-wordpress.fa-w-16 {
    font-size: 30px;
}
svg.svg-inline--fa.fa-code.fa-w-20 {
	font-size: 30px;
}
svg.svg-inline--fa.fa-adobe.fa-w-16 {
	font-size: 30px;
}
.upper {
	color: #fff;
}
.topmenu2 {
	background: #202334;

}
.nas h4 {
	color: #fff;
}